# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit bcod.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/bco/bco.conf

[Unit]
Description=BCO daemon
After=network.target

[Service]
ExecStart=/usr/bin/bcod -daemon -conf=/etc/bco/bco.conf -pid=/run/bcod/bcod.pid
# Creates /run/bcod owned by bco
RuntimeDirectory=bcod
User=bco
Type=forking
PIDFile=/run/bcod/bcod.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
